<!DOCTYPE html>
<html>
<head>
  <title>My Diet</title>
  <style>
    body{font-family:Arial, Helvetica, Sans-serif;}

    .navbar a{float:right;padding:12px;color:white;text-decoration:none;font-size:17px;}

    .navbar a:hover{background-color:hsl(318, 93%, 77%);}

    .active{background-color:#73fdb1d0;}

    @media screen and(max-width:500px){.navbar a{float:none;display:block}}
  </style>
</head>
<body style="background-color: rgb(175, 221, 221);"></body>

  <h1>My Diet</h1>
  <p>diet plan for 50 to 60 kg weight</p>
  <table border="1">
    <thead>
      <tr>
        <th>Meal</th>
        <th>Food</th>
        <th>Serving Size</th>
        <th>Calories</th>
        <th>Protein</th>
        <th>Fat</th>
        <th>Carbohydrates</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Breakfast</td>
        <td>Oatmeal with berries and nuts</td>
        <td>1 cup</td>
        <td>250</td>
        <td>10g</td>
        <td>5g</td>
        <td>30g</td>
      </tr>
      <tr>
        <td>Lunch</td>
        <td>Salad with grilled chicken</td>
        <td>2 cups</td>
        <td>350</td>
        <td>30g</td>
        <td>10g</td>
        <td>20g</td>
      </tr>
      <tr>
        <td>Dinner</td>
        <td>Salmon with roasted vegetables</td>
        <td>4 ounces</td>
        <td>400</td>
        <td>35g</td>
        <td>15g</td>
        <td>0g</td>
      </tr>
    </tbody>
  </table>

  <h1>diet plan for 60 to 80 kg weight</h1>
  <table border="1">
    <thead>
      <tr>
        <th>Meal</th>
        <th>Food</th>
        <th>Serving Size</th>
        <th>Calories</th>
        <th>Protein</th>
        <th>Fat</th>
        <th>Carbohydrates</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Breakfast</td>
        <td>Two boiled eggs with one glass of milk</td>
        <td>250</td>
        <td>80g</td>
        <td>8g</td>
        <td>30g</td>
      </tr>
      <tr>
        <td>Lunch</td>
        <td>One cup rice, one cup curry</td>
        <td>2 cups</td>
        <td>20.5</td>
        <td>30g</td>
        <td>10g</td>
        <td>20g</td>
      </tr>
      <tr>
        <td>Dinner</td>
        <td>Fruits</td>
        <td>4 ounces</td>
        <td>400</td>
        <td>35g</td>
        <td>15g</td>
        <td>0g</td>
      </tr>
    </tbody>
  </table>

  <h1>diet plan for 80 kg and above weight</h1>
  <table border="1">
    <thead>
      <tr>
        <th>Meal</th>
        <th>Food</th>
        <th>Serving Size</th>
        <th>Calories</th>
        <th>Protein</th>
        <th>Fat</th>
        <th>Carbohydrates</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Breakfast</td>
        <td>Dry fruits with one glass of milk</td>
        <td>250</td>
        <td>10g</td>
        <td>5g</td>
        <td>30g</td>
      </tr>
      <tr>
        <td>Lunch</td>
        <td>Roti with extra curry</td>
        <td>2 cups</td>
        <td>350</td>
        <td>3.1g</td>
        <td>4g</td>
        <td>18.5g</td>
      </tr>
      <tr>
        <td>Dinner</td>
        <td>Liquids like fruit juices without sugar</td>
        <td>4 ounces</td>
        <td>400</td>
        <td>35g</td>
        <td>15g</td>
        <td>0g</td>
      </tr>
    </tbody>
  </table>
</body>
</html>
