<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRENDING VIDEOS</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: rgb(74, 239, 245);
            margin: 0;
            padding: 0;
        }
        header {
            background-color: skyblue;
            color: black;
            text-align: center;
            padding: 20px;
        }
        h1 {
            font-size: 36px;
        }
        .videos {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
            padding: 20px;
        }
        .video {
            flex: 1 1 300px;
            margin-bottom: 20px;
        }
        iframe {
            width: 100%;
            height: 200px; /* Adjust height based on your needs */
        }
    </style>
</head>
<body>
    <header>
        <h1>TRENDING VIDEOS</h1>
    </header>
    <div class="videos">
        <!-- Including all videos inside the .videos container -->
        <div class="video">
            <iframe width="679" height="382" src="https://www.youtube.com/embed/2mDCVzruYzQ" title="#AlaVaikunthapurramuloo - ButtaBomma Full Video Song (4K) | Allu Arjun | Thaman S | Armaan Malik" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <iframe width="319" height="567" src="https://www.youtube.com/embed/bWuAJOidjpQ" title="Dhaba Style Egg Curry #shorts" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        </div>
        <div class="video">
            <iframe width="679" height="382" src="https://www.youtube.com/embed/7BOi0H59tXY" title="Steve Harvey Leaves the Audience SPEECHLESS | One of the Best Motivational Speeches Ever" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        <div class="video">
            <iframe width="679" height="382" src="https://www.youtube.com/embed/Osa53-RYBk4" title="How To Introduce Yourself In Interview | Self Introduction In Interview For Freshers | Simplilearn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div class="video">
            <iframe width="679" height="382" src="https://www.youtube.com/embed/pYsrTtAo7cw" title="Ayodhya Ram Mandir History | अयोध्या विवाद की पूरी कहानी| Ram Mandir Inauguration | RJ Raunac" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="video">
            <iframe src="https://www.youtube.com/embed/8Aux7nqu6w8" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="video">
            <iframe src="https://www.youtube.com/embed/pYsrTtAo7cw" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="video">
            <iframe src="https://www.youtube.com/embed/Tuw8hxrFBH8" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="video">
            <iframe src="https://www.youtube.com/embed/7BOi0H59tXY" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="video">
            <iframe src="https://www.youtube.com/embed/-sbu_i5mTFA" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="video">
            <iframe src="https://www.youtube.com/embed/cwOAlwaRjBk" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="video">
            <iframe src="https://www.youtube.com/embed/tYSrY4iPX6w" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="video">
            <iframe src="https://www.youtube.com/embed/7C0je9q_rgs" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="video">
            <iframe src="https://www.youtube.com/embed/LTBAHHXfY9I" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="video">
            <iframe src="https://www.youtube.com/embed/h5H2Vnog2TU" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="video">
            <iframe src="https://www.youtube.com/embed/3Mp9UW40ASw" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="video">
            <iframe src="https://www.youtube.com/embed/Rulw0ct8VdM" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="video">
            <iframe src="https://www.youtube.com/embed/xVLcXPmTEQQ" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="video">
            <iframe src="https://www.youtube.com/embed/gwdIOUkzWMM" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="video">
            <iframe src="https://www.youtube.com/embed/Jfk22V055W8" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="video">
            <iframe src="https://www.youtube.com/embed/9OUkAFS_KlI" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="video">
            <iframe src="https://www.youtube.com/embed/EHsZJBLvxQw" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="video">
            <iframe src="https://www.youtube.com/embed/bHz2rb7r608" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</body>
</html>
